# OS
.DS_Store

# Android/Kotlin (Gradle)
.gradle/
build/
*.iml
.idea/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Env / secrets
.env
*.keystore
*.jks
